[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"

[packages]
feedparser = "*"

[requires]
python_version = "3.7"

[scripts]
test="${HOME}/projects/NSEEvents/nsefeed/main.py"
createdb="${HOME}/projects/NSEEvents/dbsetup/setupall.py"
